@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.main {
  padding: 2rem;
}

.header {
  border: solid #1f6feb;
  width: 90dvw;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #234c86;
  color: aliceblue;
  text-align: center;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 200;
  font-size: x-large;
  animation: aparecer 1s ease-out forwards;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  width: 90dvw;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: #0b1f3a;
  border-radius: 10px;
  border: solid #1f6feb;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  max-width: 1000px;
  animation: aparecer 1s ease-out forwards;
}

.section_menu {
  border: solid #1f6feb;
  background-color: #234c86;
  margin-bottom: 1rem;
  border-radius: 10px;
  list-style: none;
  justify-self: center;
  width: 30dvw;
  max-width: 400px;
}

.link {
  all: unset;
}

.image_menu {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu_icon {
  width: 2rem;
  height: 2rem;
}

.menu_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
}

.menu_link:hover .menu_icon:first-child {
  filter: drop-shadow(0 0 6px #4cc3ff);
}

.menu_link:hover .menu_icon:last-child {
  filter: drop-shadow(0 0 6px #ff4c4c);
}

@media (min-width: 600px) {
  .header {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 200;
    font-size: 5dvw;
  }
}

@media (min-width: 1000px) {
  .header {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 200;
    font-size: 4dvw;
  }
}
