/* =========================
   CHARACTER DETAIL LAYOUT
   ========================= */

.detail_card {
  width: 90%;
  max-width: 1100px;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  border: solid #1f6feb;
  border-radius: 20px;
  background-color: #234c86;
  color: aliceblue;
}

/* -------------------------
   COLUMNA IZQUIERDA
   ------------------------- */

.detail_left {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.detail_image_cont {
  width: 100%;
  aspect-ratio: 3 / 4;

  border-radius: 16px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.detail_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail_basic_data {
  width: 100%;
  text-align: left;
}

/* -------------------------
   COLUMNA DERECHA
   ------------------------- */

.detail_right {
  width: 70%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.detail_name_cont {
  padding: 0.75rem 1rem;
  border-radius: 14px;
background-color: #0b1f3a;
  text-align: center;
}

.detail_name {
  margin: 0;
}

.detail_extended_data {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.link_to_home_cont {
    border: solid #1f6feb;
  border-radius: 20px;
  background-color: #234c86;
  color: aliceblue;
  width: 150px;
  text-align: center;
  margin-left: 2rem;
}

.link_to_home {
    all: unset;
}