@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.list_title_cont {
  border: solid #1f6feb;
  width: 90dvw;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #234c86;
  color: aliceblue;
  text-align: center;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 200;
  font-size: x-large;
  animation: aparecer 1s ease-out forwards;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.list_title {
  font-weight: 100;
  font-size: x-large;
}

.link {
  font-family: "Roboto", sans-serif !important;
}

.link:hover {
  filter: drop-shadow(0 0 6px #4cc3ff);
}

.cards_cont {
  margin: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 8px;
  justify-items: anchor-center;
  width: 90dvw;
  animation: aparecer 1s ease-out forwards;
}

.item_card {
  background-color: #234c86;
  color: aliceblue;
  text-align: center;
  font-weight: 200;
  border: solid #1f6feb;
  border-radius: 10px;
}

.image_cont {
  padding: 10px;
}

.item_img {
  max-width: 200px;
}

@media (min-width: 600px) {
  .cards_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
  }

  .list_title {
    font-size: xx-large;
  }
}

.item_info {
  padding: 0.5rem 0;
}

.item_name {
  margin-bottom: 0.75rem;
}

.item_data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: left;
}

.item_label {
  font-weight: 700;
}

.item_data_line {
  margin-left: 0.75rem;
}

@media (min-width: 768px) {
  .cards_cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
  }

  .list_title {
    font-size: 4dvw;
  }
}

@media (min-width: 1200px) {
  .cards_cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
  }
}
